@media (max-width: 500px) {

.container {
    width: 100%;
    padding: 0;
}

body {
    background: #FFFDF1;
}

body#checkout section.checkout-step {
    background: #FFFDF1;
}

main {
    margin: 0px;
    /*overflow: hidden;*/
}

.input-group .input-group-btn>.btn[data-action=show-password] {
    margin: 0px;
    border-radius: unset;
}

#header {
    background: #FFFDF1;
    position: relative;
}

#header .header-nav .blockcart .header {
    margin-top: -.4rem;
}

#header .header-nav .cart-preview, .btn {
    height: 2.2rem;
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
    margin: 0.5rem;
}

    #header .header-nav .cart-preview.active, #header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {
        background: #F3FC54;
        color: #1E1E1E;
    }

    /*#header .header-nav .blockcart.active a:hover, #header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {*/
    /*    color: #F3FC54;*/
    /*    background: #1E1E1E;*/
    /*    border-color: transparent;*/
    /*}*/

#header.is-open .popup-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
    width: 26rem;
}

#header .popup-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: -10000;
    background: #F3FC54;
    border: 1px solid #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

#header .popup-menu .im6 {
    width:100%;
}

#header .popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .popup-menu li {
    padding: 15px 12px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

#header .popup-menu li p {
    text-decoration: none;
    font-size: 0.7rem;
    display: block;
    text-align: left;
    color: #000;
    text-transform: uppercase;
}

#header .popup-menu li a {
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
    text-align: left;
    color: #000;
    text-transform: uppercase;
}

#header .popup-menu li a:hover {
    background: #f0f0f0;
}

#wrapper {
    padding-top: 0px;
    background: #FFFDF1;
}

.row {
    margin: 0px;
}

#content-wrapper {
    padding: 0px;
}

#custom-text {
    padding: unset;
    background: #F3FC54;
    text-align: center;
    margin-bottom: 0px;
}

#custom-text .top-block {
    text-align: right;
}

#custom-text .im1 {
    display: none;
}

#custom-text .im2 {
    object-fit: cover;
    width: 324px;
    height: 139px;
}

#custom-text .center-block {
    padding: 10px;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

#custom-text .caption {
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
}

#custom-text .text1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 15.96px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 80%;
}

#custom-text .center-block .im3 {
    height: 80%;
    width: 60%;
}

#custom-text .center-block .im4 {
    padding: 2rem 1rem;
    width: 35%;
}

#custom-text .bottom-block .im7 {
    object-fit: cover;
    width: 50%;
    height: 6rem;
    margin-right: 50%;
}

#custom-text .bottom-block .im5 {
    object-fit: cover;
    width: 100%;
    height: 8rem;
}

#custom-text .right-area {
    display: none;
}

#custom-text2 {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#custom-text2 .charity-banner {
    /*height: 410px;*/
}

#custom-text2 .im1 {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

#custom-text2  .text1 {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: left;
    width: 90%;
    color: #1E1E1E;
}

#custom-text2 .bottom-text-details p {
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    color: #1E1E1E;
}

a.btn.btn-default {
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
}


#main .featured-products {
    margin: 0px !important;
}

#main .featured-products .products-header {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#main .featured-products .products-header h2 {
    margin: 2rem 0;
    font-weight: 500;
    text-align: center;
}

#main .featured-products .products-header .h4 {
    font-weight: 500;
    color: #7a7a7a;
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
    padding: 10px;
}

.js-product.product {
    border: 1px solid #1e1e1e;
    margin: 10px;
    padding: 10px;
}

.product-miniature .thumbnail-container {
    background: unset;
    margin-bottom: 0px;
}

.product-miniature .product-description {
    background: unset;
}

.product-miniature .product-title {
    margin-top: .7rem;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.8px;
    text-align: left;
    color: #1E1E1E;
}

.product-miniature .product-price-and-shipping {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;
    color: #98B400;
}

.product-flags li.product-flag.on-sale {
    background: #F3FC54;
    color: #1e1e1e;
    opacity: 0.7;
}

.product-flags li.product-flag.discount, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount-percentage {
    background-color: #F3FC54;
    opacity: 0.7;
    color: #1e1e1e;
}

.product-flags li.product-flag.new {
    opacity: 0.7;
}

#blockEmailSubscription_displayHome {
    padding: 0px;
    background: unset;
    margin: 0px;
}

#blockEmailSubscription_displayHome .row {
    margin: 0px;
}

#blockEmailSubscription_displayHome .left-block {
    padding: 0px;
}

#blockEmailSubscription_displayHome .im2 {
    object-fit: cover;
    width: 15rem;
    height: 5rem;
    margin-left: 4rem;
}

#blockEmailSubscription_displayHome #block-newsletter-label {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    padding: 2rem;
    width: 80%;
    margin: 0px;
}

#blockEmailSubscription_displayHome .right-block {
    padding: 0px;
    margin: 0px;
}

#blockEmailSubscription_displayHome .input-wrapper {
    padding: 20px;
}

#blockEmailSubscription_displayHome .button-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;
    color: #1e1e1e;
    margin: 0 20px;
}

.block_newsletter .im1 {
    object-fit: cover;
    width: 120%;
    margin-left: -20%;
    height: 186px;
}

.block_newsletter .email-input {
        border: none !important;
        border-bottom: 1px solid #1e1e1e !important;
        background: none;
}

.row div {
    padding: 0px;
}

#footer {
    margin: 0px;
    background: #F3FC54;
    padding-top: unset;
}

#footer .footer-container {
    padding-top: unset;
}

#footer .footer-container .links ul {
    background-color: unset;
}

#footer .links {
  padding: 0px;
}

.btn-touchspin {
    margin: 0;
}

.btn-touchspin:hover {
    color: #1E1E1E;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
}

    /*donation*/
    #donation.category-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #F3FC54;
    }

    #donation .category-header-main {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    #donation .category-header-top {
        height: 30%;
    }

    #donation .category-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    #donation img.im2 {
        object-fit: cover;
        object-position: 0 45%;
        width: 18rem;
        height: 7rem;
    }

    #donation .name {
        font-size: 3rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: left;
        color: #000;
        text-transform: uppercase;
        padding: 10% 2% 0;
    }
    #donation .description {
        text-align: left;
        padding: 2% 2% 5% 15%;
        color: #000;
    }

    #donation img.im7 {
        object-fit: cover;
        object-position: 0 45%;
        height: 14rem;
        width: 100%;
    }

    #donation_steps.donation-hiw {
        max-height: 100%;
        display: flex
    ;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid #1E1E1E;
        width: 100%;
    }

    #donation_steps .donation-hiw-step {
        height: 7rem;
        width: 100%;
        justify-items: center;
    }

    #donation_steps .step {
        background: #F3FC54;
        border-radius: 50%;
        border: 0;
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        padding: 0.5rem;
    }

    #donation_steps img {
        color: #1E1E1E;
        width: 100%;
        height: 100%;
    }

    #donation_steps p {
        color: #1E1E1E;
    }

    section#donations {
        margin: 0 2%;
    }

    #donations .select-title {
        border-radius: 24px;
        width: 10rem;
        background: transparent;
    }

    #donations .total-products .dropdown {
        text-align: right;
    }

    #donations .total-products p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        color: #1E1E1E;
    }

    #donations .products.row {
        display: flex;
        flex-direction: column;
    }

    #donations .products-selection {
        margin:2%;
    }

    #donations .product {
        width:100%;
        padding: 0;
        border-bottom: 1px solid #1E1E1E;
    }

    #donations .product article {
        text-align: left;
    }

    #donations .product article .thumbnail-container {
        display: flex;
        flex-direction: column;
    }

    #donations .product article .thumbnail-top {
        width: 100%;
    }

    #donations .product article .thumbnail-top img {
        width: 100%;
    }

    #donations .product article .donation-description {
        padding: 1%;
        width: 100%;
    }

    #donations .product .donation-title {
        font-size: 1.2rem;
        color: #1E1E1E;
        margin-bottom: 1rem;
    }

    #donations .product .donation-desc p {
        font-size: 0.7rem;
        color: #1E1E1E;
    }

    #donations a.btn.btn-default {
        background: transparent;
        color: #1E1E1E;
        border-radius: 24px;
        border: 1px solid #1E1E1E;
    }
    /*donation details*/
    #donation_details.donation-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #FFFDF1;
    }

    #donation_details .donation-header-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #F3FC54;
    }

    #donation_details .donation-header-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        text-align: left;
        padding-left: 1%;
    }

    #donation_details .donation-header-text a{
        margin: 3rem 0;
    }
    #donation_details .donation-header-text .name{
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        color: #000;
        text-transform: uppercase;
        padding: 2%;
    }
    #donation_details .donation-header-text .description{
        padding-left: 2%;
        padding-right: 5%;
        font-size: .9375rem;
        font-weight: 400;
        color: #000;
    }
    #donation_details .donation-header-text .description p{
        font-size: 0.8rem;
        font-weight: 400;
        color: #000;
    }
    #donation_details .donation-header-bottom {
        width: 100%;
    }

    #donation_details .product-cover {
        margin: 0;
    }

    #donation_details .donation-header-bottom img {
        width: 100%;
    }
    #donation_details .donation-description {
        padding: 2%;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    #donation_details .donation-description p{
        font-size: 0.8rem;
        font-weight: 400;
        color: #000;
    }

    #donation_details .donation-about{
        padding: 2%;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }
    /*shopping-cart*/
    .card {
        background-color: unset;
    }
    .card .card-block .h1{
        padding: 1rem 0;
    }
    .cart-grid-body{
        padding-left:5%;
    }
    .card.cart-container, .card.cart-summary{
        background-color: unset;
    }

    .card .charity-block .donation-btn .btn {
        margin: 0;
    }

    .card .cart-item {
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .card .cart-item .price, .card .cart-item .text-info, .card .cart-item .text-info:hover{
        color: #98B400 !important;;
    }

    .card input.form-control, .card .btn.btn-touchspin{
        background: #FFFDF1;
    }
    .product-line-grid {
        text-align: justify;
    }


    #category nav.breadcrumb{
        padding: 1rem .3rem 0;
    }

    #category #js-product-list-header {
        height: 0px;
        overflow: hidden;
    }

    #category #subcategories {
        padding: .3rem;
        border-top: unset;
    }

    #category section#products {
        border-top: 1px solid rgba(0, 0, 0, .25);
        padding: 0rem;
    }

    #category #subcategories h2{
        margin: 0px;
    }

    #products .products{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        /*max-height: 70rem;*/
    }

    #products .products-selection{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem 0;
        margin: 0px;
    }

    #products .products-selection .hleft{
        padding: 1rem;
        text-transform: unset;
    }

    #products .products-selection .hright{
    }

    #products .product {
        padding: .3rem;
        width: 100%;
        margin: 0;
        float: unset;
        border: 0px;
    }

    #products .select-title {
        border-radius: 24px;
        width: 10rem;
        background: transparent;
    }

    #subcategories .subcategories-list{
        flex-direction: row;
        flex-wrap: unset;
        overflow-x: scroll;
    }

    #subcategories ul {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    #subcategories ul li {
        width: 20rem;
        min-width: 10rem;
        margin: 0;
        text-align: center;
    }

    #subcategories ul li .subcategory-image a {
        display: block;
        padding: 0;
        border: unset;
    }

    #subcategories ul li:hover .subcategory-image a {
        padding: 0;
        border: unset;
    }

    #subcategories ul li .subcategory-name{
        color: #000;
        text-transform: unset;
    }

    #subcategories ul li:hover a{
        color: #98B400;
        text-transform: unset;
    }

    /*product*/
    #product .product-container div.col-md-6:last-child{
        margin: 0 1rem;
    }
    #product #content {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    #product #content .product-images{
        margin: 1rem;
    }

    #product #content .product-images img{
        border: 0;
    }

    #product a.btn.btn-default.back-to-category {
        background: transparent;
        color: #1E1E1E;
        border-radius: 24px;
        border: 1px solid #1E1E1E;
        margin: 1rem 0;
        height: 2.3rem;
    }

    #product h1.h1 {
        text-transform: unset;
        font-size: 1.5em;
    }

    #product .current-price-value {
        margin: 0 1rem;
    }

    #product .tax-shipping-delivery-label {
        display: none;
    }

    #product .tabs {
        padding: 0;
        margin-top: 0;
        background-color: #FFFDF1;
    }

    #product .tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
        border: 0;
        border-bottom: #98B400 3px solid;
        background-color: #FFFDF1;
    }

    #product .tabs .nav-tabs .nav-link.active {
        color: #98B400;
        background-color: #FFFDF1;
    }

    #product .btn.btn-primary.add-to-cart {
        margin: 0;
        text-transform: unset;
    }

    #product .social-sharing {
        justify-content: end;
    }

    #product .social-sharing li {
        background-color: #FFFDF1;
    }

    #product .wk_soldby_link {
        padding: 0;
        border-top: 1px solid #1E1E1E;
    }

    #product .wk-sold-by-box {
        padding: 2rem 2rem 0;
        background-color: #FFFDF1;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #product .wk-sold-by-box .btn{
        text-transform: unset;
    }

    #product .wk-sold-by-box .btn:hover{
        color: #F3FC54;
        background: #1E1E1E;
        border-color: transparent;
        text-transform: unset;
    }

    #product .wk-sold-by-box a {
        color: #1E1E1E;
        font-size: 1.2em;
        height: 2.75rem;
        margin-left: 0;
    }

    #product .wk-shop-default-icon {
        width: 3rem;
        border-radius: 3.2rem;
        border: 0;
        margin: 0;
    }

    #product .wk-product-page-seller-rating {
        width: 100%;
        margin:0;
        background-color: #FFFDF1;
        box-shadow: unset;
    }

    #product .wk-product-page-seller-rating .products {
        margin: 0;
    }

    #product .box-account .box-content {
        width: 100%;
        padding: 0 2rem;
    }

    #product .box-account .box-content .row label{
        display: none;
    }

    #product .wk-product-slider {
        display: block;
        position: relative;
        width: 97%;
        margin: auto;
    }

    #product .wk-product-slider .bx-wrapper {
        max-width: 95% !important;
    }

    #product .bx-controls.bx-has-controls-direction {
        display: none;
    }

    #product .wk-product-slider ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #product .wk-product-slider li {
        display: block;
        /*border: 1px solid #D6D4D5;*/
        height: 30rem;
        margin-left: 6px !important;
        margin-right: 6px !important;
        width: 25rem !important;
    }

    #product .wk-product-slider li a{
        color: #98B400;
    }

    #product .wk-product-slider li .wk-slider-product-info {
        margin-top:1rem;
        text-align: left;
    }

    #product .wk-product-slider li .wk-slider-product-info div:first-child{
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 22.8px;
        text-align: left;
        color: #1E1E1E;
    }

    #product .wk-slider-product-img {
        /*float: left;*/
        width: 25rem;
        min-height: 75%;
        /* background-color: #F6F6F6; */
        text-align: center;
    }

    #product .mp-bx-slider li img {
        width: 100%;
    }

    #product section.product-accessories {
        padding: 1rem;
        border-top: 1px solid #1E1E1E;
    }

    #product section.product-accessories p.h5{
        text-transform: unset !important;
        font-size: 1.5em;
    }

    /*module-marketplace-sellerprofile*/
    #module-marketplace-sellerprofile .mp-bx-slider li img {
        width: 100%;
    }
    /*suppliers*/
    #suppliers_header.suppliers-header {
        width: 100%;
        /* height: 555px; */
        position: relative;
        /* max-height: 100%; */
        display: flex;
        flex-direction: column;
        background: #F3FC54;
    }

    #suppliers_header .suppliers-header-main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #suppliers_header .suppliers-header-top {
        height: 40%;
        display: flex;
        justify-content: flex-end;
    }

    #suppliers_header .suppliers-header-bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #suppliers_header .suppliers-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #suppliers_header img.im2 {
        object-fit: cover;
        object-position: 30% 45%;
        width: 85%;
        height: 10rem;
    }

    #suppliers_header .name {
        font-size: 3rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: left;
        color: #000;
        text-transform: uppercase;
        padding: 2rem 1rem;
        width: 100%;
    }
    #suppliers_header .description {
        text-align: left;
        color: #000;
        width: 100%;
        padding-left: 1rem;
        padding-right: 7rem;
    }

    #suppliers_header img.im7 {
        object-fit: cover;
        object-position: 80% 55%;
        height: 25em;
        width: 100%;
    }

    #suppliers_header .suppliers-header-bottom .text-info {
        display:none;
    }

    section#suppliers {
        margin: 0 2%;
    }

    #suppliers .suppliers{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        /*max-height: 70rem;*/
    }

    #suppliers .suppliers-selection{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem 0;
        margin: 0px;
    }

    #suppliers .suppliers-selection .hleft{
        padding: 1rem 1rem 0 1rem;
        margin: 0;
        text-transform: unset;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: left;
        color: #1E1E1E;
    }

    #suppliers .suppliers-selection .hright{
    }

    #suppliers .supplier {
        padding: 0.2rem;
        width: 50%;
        margin: 1rem 0;
        float: unset;
    }

    #suppliers .supplier a.btn.btn-default {
        background: transparent;
        color: #1E1E1E;
        border-radius: 24px;
        border: 1px solid #1E1E1E;
        width: 90%;
    }

    #suppliers .supplier .supplier-infos{
        margin: 0;
        padding: 0.5rem;
    }

    #suppliers .supplier .supplier-img img{
        width: 100%;
        margin: 0;
        padding: 0;
        /*border: 1px solid #1E1E1E;*/
    }
    #suppliers .supplier .supplier-title{
        display: flex;
        height: 3rem;
    }

    #suppliers .supplier .supplier-icon{
        width: 3rem;
        height: 3rem;
        border-radius: 3.2rem;
        border: 0;
        margin: 0;
        display: block;
        background: #d5d5d5;
    }

    #suppliers .supplier .supplier-text{
        padding: .3rem 0 0 1rem;
        width: 70%;
    }

    #suppliers .supplier .supplier-title a{

    }

    #suppliers .select-title {
        border-radius: 24px;
        width: 10rem;
        background: transparent;
    }


}