@media (max-width: 500px) {

.container {
    width: 100%;
    padding: 0;
}

body {
    background: #FFFDF1;
}

body#checkout section.checkout-step {
    background: #FFFDF1;
}

main {
    margin: 5%;
    overflow: hidden;
}

#header {
    background: #FFFDF1;
    position: relative;
}

#header .header-nav .cart-preview, .btn {
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
    margin: 0rem;
}

    #header .header-nav .cart-preview.active, #header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {
        background: #F3FC54;
        color: #1E1E1E;
    }

    /*#header .header-nav .blockcart.active a:hover, #header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {*/
    /*    color: #F3FC54;*/
    /*    background: #1E1E1E;*/
    /*    border-color: transparent;*/
    /*}*/

#header.is-open .popup-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
}

#header .popup-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: -10000;
    background: #F3FC54;
    border: 1px solid #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

#header .popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header .popup-menu li {
    padding: 15px 12px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

#header .popup-menu li p {
    text-decoration: none;
    font-size: 0.7rem;
    display: block;
    text-align: left;
    color: #000;
    text-transform: uppercase;
}

#header .popup-menu li a {
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
    text-align: left;
    color: #000;
    text-transform: uppercase;
}

#header .popup-menu li a:hover {
    background: #f0f0f0;
}

#wrapper {
    padding-top: 0px;
    background: #FFFDF1;
}

.row {
    margin: 0px;
}

#content-wrapper {
    padding: 0px;
}

#custom-text {
    padding: unset;
    background: #F3FC54;
    text-align: center;
    margin-bottom: 0px;
}

#custom-text .top-block {
    text-align: right;
}

#custom-text .im1 {
    display: none;
}

#custom-text .im2 {
    object-fit: cover;
    width: 324px;
    height: 139px;
}

#custom-text .center-block {
    padding: 10px;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

#custom-text .caption {
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
}

#custom-text .text1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 15.96px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 80%;
}

#custom-text .center-block .im3 {
    height: 100%;
}

#custom-text .center-block .im4 {
    padding: 0px 20px;
}

#custom-text .bottom-block .im7 {
    object-fit: cover;
    width: 50%;
    height: 8em;
    margin-right: 50%;
}

#custom-text .bottom-block .im5 {
    object-fit: cover;
    width: 100%;
    height: 10.8em;
}

#custom-text .right-area {
    display: none;
}

#custom-text2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#custom-text2 .charity-banner {
    height: 410px;
}

#custom-text2 .im1 {
    object-fit: cover;
    width: 100%;
    height: 410px;
}

#custom-text2  .text1 {
    font-size: 24px;
    text-align: left;
    width: 460px;
    color: #1E1E1E;
}

#custom-text2 .bottom-text-details {
    font-size: 16px;
    text-align: left;
    color: #1E1E1E;
}

a.btn.btn-default {
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
}


#main .featured-products {
    margin: 0px !important;
}

#main .featured-products .products-header {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#main .featured-products .products-header h2 {
    margin: 2rem 0;
    font-weight: 500;
    text-align: center;
}

#main .featured-products .products-header .h4 {
    font-weight: 500;
    color: #7a7a7a;
    background: #F3FC54;
    color: #1E1E1E;
    border-radius: 24px;
    border: 1px solid #1E1E1E;
    padding: 10px;
}

.js-product.product {
    border: 1px solid #1e1e1e;
    margin: 10px;
    padding: 10px;
}

.product-miniature .thumbnail-container {
    background: unset;
    margin-bottom: 0px;
}

.product-miniature .product-description {
    background: unset;
}

.product-miniature .product-title {
    margin-top: .7rem;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.8px;
    text-align: left;
    color: #1E1E1E;
}

.product-miniature .product-price-and-shipping {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;
    color: #98B400;
}

.product-flags li.product-flag.on-sale {
    background: #F3FC54;
    color: #1e1e1e;
    opacity: 0.7;
}

.product-flags li.product-flag.discount, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount-percentage {
    background-color: #F3FC54;
    opacity: 0.7;
    color: #1e1e1e;
}

.product-flags li.product-flag.new {
    opacity: 0.7;
}

#blockEmailSubscription_displayHome {
    padding: 0px;
    background: unset;
    margin: 0px;
}

#blockEmailSubscription_displayHome .row {
    margin: 0px;
}

#blockEmailSubscription_displayHome .left-block {
    padding: 0px;
}

#blockEmailSubscription_displayHome .im2 {
    object-fit: cover;
    width: 386px;
    height: 106px;
    margin-left: 120px;
}

#blockEmailSubscription_displayHome #block-newsletter-label {
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    padding: 20px;
    width: 80%;
    margin: 0px;
}

#blockEmailSubscription_displayHome .right-block {
    padding: 0px;
    margin: 0px;
}

#blockEmailSubscription_displayHome .input-wrapper {
    padding: 20px;
}

#blockEmailSubscription_displayHome .button-label {
    font-size: 20px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: left;
    color: #1e1e1e;
    margin: 0 20px;
}

.block_newsletter .im1 {
    object-fit: cover;
    width: 120%;
    margin-left: -20%;
    height: 186px;
}

.block_newsletter .email-input {
        border: none !important;
        border-bottom: 1px solid #1e1e1e !important;
        background: none;
}

.row div {
    padding: 0px;
}

#footer {
    margin: 0px;
    background: #F3FC54;
    padding-top: unset;
}

#footer .footer-container {
    padding-top: unset;
}

#footer .footer-container .links ul {
    background-color: unset;
}

#footer .links {
  padding: 0px;
}

.btn-touchspin {
    margin: 0;
}

.btn-touchspin:hover {
    color: #1E1E1E;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
}

    /*donation*/
    #donation.category-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #F3FC54;
    }

    #donation .category-header-main {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    #donation .category-header-top {
        height: 30%;
    }

    #donation .category-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    #donation img.im2 {
        object-fit: cover;
        object-position: 0 45%;
        width: 25rem;
        height: 12rem;
    }

    #donation .name {
        font-size: 3rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: left;
        color: #000;
        text-transform: uppercase;
        padding: 10% 2% 0;
    }
    #donation .description {
        text-align: left;
        padding: 2% 2% 5% 15%;
        color: #000;
    }

    #donation img.im7 {
        object-fit: cover;
        object-position: 0 45%;
        height: 20rem;
        width: 100%;
    }

    #donation_steps.donation-hiw {
        max-height: 100%;
        display: flex
    ;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid #1E1E1E;
        width: 100%;
    }

    #donation_steps .donation-hiw-step {
        height: 7rem;
        width: 100%;
        justify-items: center;
    }

    #donation_steps .step {
        background: #F3FC54;
        border-radius: 50%;
        border: 0;
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        padding: 0.5rem;
    }

    #donation_steps img {
        color: #1E1E1E;
        width: 100%;
        height: 100%;
    }

    #donation_steps p {
        color: #1E1E1E;
    }

    section#donations {
        margin: 0 2%;
    }

    #donations .select-title {
        border-radius: 24px;
        width: 10rem;
        background: transparent;
    }

    #donations .total-products .dropdown {
        text-align: right;
    }

    #donations .total-products p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        color: #1E1E1E;
    }

    #donations .products.row {
        display: flex;
        flex-direction: column;
    }

    #donations .products-selection {
        margin:2%;
    }

    #donations .product {
        width:100%;
        padding: 0;
        border-bottom: 1px solid #1E1E1E;
    }

    #donations .product article {
        text-align: left;
    }

    #donations .product article .thumbnail-container {
        display: flex;
        flex-direction: column;
    }

    #donations .product article .thumbnail-top {
        width: 100%;
    }

    #donations .product article .thumbnail-top img {
        width: 100%;
    }

    #donations .product article .donation-description {
        padding: 1%;
        width: 100%;
    }

    #donations .product .donation-title {
        font-size: 1.2rem;
        color: #1E1E1E;
        margin-bottom: 1rem;
    }

    #donations .product .donation-desc p {
        font-size: 0.7rem;
        color: #1E1E1E;
    }

    #donations a.btn.btn-default {
        background: transparent;
        color: #1E1E1E;
        border-radius: 24px;
        border: 1px solid #1E1E1E;
    }
    /*donation details*/
    #donation_details.donation-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #FFFDF1;
    }

    #donation_details .donation-header-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #F3FC54;
    }

    #donation_details .donation-header-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        text-align: left;
        padding-left: 1%;
    }

    #donation_details .donation-header-text a{
        margin: 3rem 0;
    }
    #donation_details .donation-header-text .name{
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        color: #000;
        text-transform: uppercase;
        padding: 2%;
    }
    #donation_details .donation-header-text .description{
        padding-left: 2%;
        padding-right: 5%;
        font-size: .9375rem;
        font-weight: 400;
        color: #000;
    }
    #donation_details .donation-header-text .description p{
        font-size: 0.8rem;
        font-weight: 400;
        color: #000;
    }
    #donation_details .donation-header-bottom {
        width: 100%;
    }

    #donation_details .product-cover {
        margin: 0;
    }

    #donation_details .donation-header-bottom img {
        width: 100%;
    }
    #donation_details .donation-description {
        padding: 2%;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    #donation_details .donation-description p{
        font-size: 0.8rem;
        font-weight: 400;
        color: #000;
    }

    #donation_details .donation-about{
        padding: 2%;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }
    /*shopping-cart*/
    .card {
        background-color: unset;
    }
    .card .card-block .h1{
        padding: 1rem 0;
    }
    .cart-grid-body{
        padding-left:5%;
    }
    .card.cart-container, .card.cart-summary{
        background-color: unset;
    }

    .card .charity-block .donation-btn .btn {
        margin: 0;
    }

    .card .cart-item {
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .card .cart-item .price, .card .cart-item .text-info, .card .cart-item .text-info:hover{
        color: #98B400 !important;;
    }

    .card input.form-control, .card .btn.btn-touchspin{
        background: #FFFDF1;
    }
    .product-line-grid {
        text-align: justify;
    }
}